@keyframes gradientTransition {
    0% {background-color: green;}
    50% {background-color: yellow;}
    100% {background-color: green;}
}

html {
    animation-name: gradientTransition;
    animation-duration: 40s;
    animation-iteration-count: infinite;  
    background-image: linear-gradient(to bottom, green, #ff000000);
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    * {
        border-radius: 3vw;
        text-align: center;
    }
}

header {
    background: url("/images/skull.jpg") center;
    background-size: cover;
    color: red;
    font: 5vw Georgia;
}

section {
    color: green;
    text-align: center;
    background: url("/images/gold.jpg") center;
    text-shadow: 2px 2px black;
    background-size: cover;
    font: 2vw Georgia;
    padding: 3vw;
}